.main {
    margin-top: 70px; /* Add a top margin to avoid content overlay */
     padding-top: 16px;
  }
  
  @media screen and (max-width:475px) {
  
    .main {
  
      margin-top: 100px; /* Add a top margin to avoid content overlay */
    }
  }
  @media screen and (max-width:650px) {
  
    .main {
  
      padding-top: 25px;
    }
  
  }
  

  #msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
    color: red;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
   
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #fff132;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}
#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}
/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin-left: 20%;
    
}
#progressbar li {
    list-style-type: none;
    color: #c4c4c4a4;
    text-transform: uppercase;
	font-size: larger;
	width: 25%;
	float: left;
	position: relative;
  text-align: center;
}
#progressbar li:before {
    content: counter(step);
	counter-increment: step;
	width: 80px;
	height: 80px;
	display: block;
	font-size: 45px;
	color:  #c4c4c4a4;;
	background: white;
	border-radius: 50%;
  border: 8px solid #c5c3c3;

	/* margin: 0 auto 5px auto; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/*progressbar connectors*/
#progressbar li:after {
    content:'';
	width: 100%;
	height: 10px;
  border-radius: 5px;
	background: #c4c4c4a4;
	position: absolute;
	top: 35%; /*put it behind the numbers*/
  z-index: -1;
  left: -5%;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    /* content: none; */
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
 #progressbar li.active:before, #progressbar li.active:after {
    background: #fff132;
    color: white;
} 



 


#msform .form_wrap.userdetails,
.form_wrap.select_box{
  display: flex;
}

#msform .form_wrap.userdetails .form_item,
.form_wrap.select_box .form_item{
  width: 50%;
}


#msform .form_item input[type="text"],
.form_item select{
  width:90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 3px;
}

select{
-webkit-appearance: listbox !important
}

.header-text{
  margin-left:250px;
  color:#909090;
}