<div class="main">
    <div class="container">
        <div class="content">
            <!--Personal Details-->
            <fieldset class="p-2" style="border: solid 1px yellow;">
                <legend class="float-none w-auto p-2">Personal Details</legend>
                <div class="form_wrap userdetails">
                    <p class="form_item"> 
                        <label for="name">Name : </label>&NonBreakingSpace;
                        <span class="value">ABC</span> 
                    </p> 
                    
                    <p class="form_item"> 
                        <label for="mobilenumber" >Mobile Number:</label>&NonBreakingSpace;
                      <span class="value">9894859523</span> 
                    </p> 
                    <p class="form_item"> 
                        <label for="email" >Email:</label>&NonBreakingSpace;
                      <span class="value" >Abc@gmail.com</span> 
                    </p> 
                </div>
                <div class="form_wrap userdetails" style="margin-top: 3%;">
                    <p class="form_item"> 
                        <label for="age">Age : </label>&NonBreakingSpace;
                        <span class="value">26</span> 
                    </p> 
                    <p class="form_item"> 
                        <label for="occupation" >Occupation : </label>&NonBreakingSpace;
                      <span class="value">Farmer</span> 
                    </p> 
                    <p class="form_item"> 
                        <label for="Designation" >Designation : </label>&NonBreakingSpace;
                      <span class="value" >Nation Building</span> 
                    </p> 
                </div>
               
                <div class="form_wrap userdetails" style="margin-top: 3%;">
                    <p class="form_item"> 
                        <label for="address">Address: </label>&NonBreakingSpace;
                        <span class="value">Jayanagar</span> 
                    </p>
                </div>
            </fieldset>
           
            <fieldset class="p-2" style="height: 40%;border: solid 1px yellow;">
                <legend class="float-none w-auto p-2" >Subscription Details</legend>
                <label for="dateofsubscription" style=" margin-left: 5%;">Date of Subscription : </label>&NonBreakingSpace;
                <span class="value">27/03/2022</span> 
               
                <label for="subscriptionenddate" style="margin-left: 100px;">Subscription end date</label>&NonBreakingSpace;
                <span class="value">27/03/2023</span> 

                <input type="submit" style="margin-left: 100px;" value="Renew" disabled>

            </fieldset>
        </div>
        
    </div>

  </div>
