/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: black !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: black !important;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(0, 0, 0, .1) !important;
}