<div class="main">
  <div class="container-fluid ">
    <div class="section">
      <img src="assets/images/50yrs.png" class="celebration">
      <div class="wrapper">
        <div class="row">
          <div class=" col-12 col-sm-12 col-md-6 content1">

            <div class ="text">
              <h1>ಸಹಕಾರ</h1>
              <span></span>
              <h1>ವಾರಪತ್ರಿಕೆ</h1>
              <p>8 ದಶಕಗಳಷ್ಟು ಹಿಂದೆ ಸಮಾನ ಮನಸ್ಕರ ಕೂಟವೊಂದು ಸಹಕಾರ ತತ್ವ ಪ್ರಚಾರಕ್ಕಾಗಿ ಹಾಗೂ ಸಹಕಾರ ಕ್ಷೇತ್ರದ ಬೆಳವಣಿಗೆಗೆ ಅಗತ್ಯವಾದ ಶಿಕ್ಷಣ ನೀಡುವ ಉದ್ದೇಶದಿಂದ ಸಹಕಾರ ಸಂಸ್ಥೆಯೊಂದನ್ನು ಸ್ಥಾಪಿಸಿದರು. ಸಹಕಾರ ಕ್ಷೇತ್ರದ ಚಟುವಟಿಕೆಗಳಿಗೆ ಪ್ರಚಾರ ನೀಡುವುದು ಇದರ ಧ್ಯೇಯೋದ್ದೇಶವಾಗಿತ್ತು. ಸಮಾನ ಮನಸ್ಕರ ಈ ಪ್ರಯತ್ನದಿಂದ 1924 ಆಗಸ್ಟ್ 27 ರಂದು ಮೈಸೂರು ಪ್ರಾಂತೀಯ ಸಹಕಾರಿ ಸಂಸ್ಥೆಯೊಂದು ಅಸ್ತಿತ್ವಕ್ಕೆ ಬಂದಿತು.</p>
              <div class="subscribe">
                <button  type="button" class="btn btn-warning btn-lg border border-white" (click)="subscribe()">subscribe now</button>
              </div>
            </div>
          </div>
          <div  class="col-12 col-sm-12 col-md-6 content">
            <figure class="figure">
              <img src="assets/images/magzine.png" class="figure-img img-fluid rounded" alt="img">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="row">
        <div class="col-12 content2">
          <h1>ಪತ್ರಿಕೆ ಸಾಧನೆಗಳು</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 ">
          <div class="card">
            <img src="assets/images/user.png" class="card-img-top" alt="img">
            <div class="card-body">
              <h2 class="card-title">14,000+</h2>
              <h3 class="card-text">ಚಂದಾದಾರರು</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          <div class="card">
            <img src="assets/images/book.png" class="card-img-top" alt="img">
            <div class="card-body">
              <h2 class="card-title">30,000+</h2>
              <h3 class="card-text">ಪತ್ರಿಕೆಗಳು</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          <div class="card">
            <img src="assets/images/explore.png" class="card-img-top" alt="img">
            <div class="card-body">
              <h2 class="card-title">27</h2>
              <h3 class="card-text">ಜಿಲ್ಲೆಗಳು</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          <div class="card">
            <img src="assets/images/devices.png" class="card-img-top" alt="img">
            <div class="card-body">
              <h2 class="card-title">24/7+</h2>
              <h3 class="card-text">ಆನ್ಲೈನ್ ಸೇವೆ</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content3 ">
      <div class="wrapper">
        <div class="row">
          <div class="col-12 col-md-8 price">
            <h3>ಜಾಹೀರಾತು ನೀಡಲು ಸಂಪರ್ಕಿಸಿ</h3>
            <h3>ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಿ</h3>
          </div>
          <div class="col-12 col-md-4 price">
            <button  type="button" class="btn btn-lg">Price Quotation</button>
          </div>
        </div>
      </div>
    </div>



    <div class="wrapper">
      <div class="row ">
        <div class="col-12 content4">
          <h1>ಮಾನ್ಯ ಅಧಿಕಾರಿವರ್ಗ</h1>
        </div>
        <div class="col-12 col-md-4 ">
          <div class="card">
            <img src="assets/images/president.jpg" style="border-radius: 50%;" class="card-img-top" alt="img">
            <div class="card-body">
              <h4 class="card-title">GT DeveGowda</h4>
              <h5 class="card-text">President</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <img src="assets/images/vice-president.jpg" style="border-radius: 50%;" class="card-img-top" alt="img">
            <div class="card-body">
              <h4 class="card-title">Kavatagimath</h4>
              <h5 class="card-text">Vice-President</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <img src="assets/images/explore.png" class="card-img-top" alt="img">
            <div class="card-body">
              <h4 class="card-title">Arun Kumar</h4>
              <h5 class="card-text">Managing Director</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content5">
      <div class="wrapper">
        <div class="row ">
          <div class="col-12 col-md-8">

            <h4>About Us</h4>

          </div>
          <div class="col-12 col-md-4">

            <h4> Contact Us</h4>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
